<!DOCTYPE html>
<html lang="en">
<head>
   {% load static %}

<!DOCTYPE html>
<html>
<head>
<title>Login - Forgot password</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Main Style Css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <script src="{% static 'js/main.js' %}"></script>
</head>

<body style="background-color:white">
<!--Top menu-->

<div class="limiter">
  <div class="container-login100" style="background-image: url('images/bg-01.jpg');">
    <div class="wrap-login100 p-l-80 p-r-70 p-t-62 p-b-43">
      <form class="login100-form validate-form flex-sb flex-w" action="login" method="POST">

        <div class="login-grids">
            <h2 style="text-align:center;font-weight:700" class="">Please Signup</h2><br>
              <div class="login" >
              <form action="" method="POST">
                {% csrf_token %}
                 {{ form.as_p }}




                  <p style="color: rgba(125, 190, 154, 0.979);">Invalid Credentials. Please signup or signin with Google or Facebook</p>
                <p> <span class="login" ><a href="{% url 'user_login' %}" >&nbsp; <b>Sign In</b></a></span>


              <!--<label style="font-family: 'Poppins', sans-serif;">Password </label>
              <input type="password" name="password" id="password" placeholder="" value="" required="">
              <label style="font-family: 'Poppins', sans-serif;">Confirm Password </label>
              <input type="password" name="password" id="password" placeholder="" value="" required="">	-->

              </form>
              </div>
            <div class="clearfix"></div>
            </div>
      </form>
    </div>
  </div>
</div>


<div id="dropDownSelect1"></div>


</body>
</html>




