
{% load static %}

<!DOCTYPE html>
<html>
<head>
<title>Login - Sign up</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Main Style Css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
</head>
<body style="background-color:white">






<div class="limiter">

  <div class="container-login100" style="background-image: url('images/bg-01.jpg');">
    <div class="wrap-login100 p-l-80 p-r-70 p-t-62 p-b-43">
        {% if form.errors %}
                        <div class="alert alert-danger alert-dismissible col-12 mx-1" role="alert">
                            <div id="form_errors">
                                {% for key, value in form.errors.items %}
                                    <span class="fieldWrapper">
                                        {{ value }}
                                    </span>
                                {% endfor %}
                            </div>

                        </div>
                    {% endif %}
      <form class="login100-form validate-form flex-sb flex-w" action="" method="POST">
           {% csrf_token %}
        <div class="login-grids">
            <h2 style="text-align:center;font-weight:700" class="">Sign Up  </h2><br>
                <div class="login">          
                <form action="" method="POST">




                    <label style="font-family: 'Poppins', sans-serif;">Email</label>
                    <input type="text" name="email" id="email" placeholder=""  required="" >
                    <label style="font-family: 'Poppins', sans-serif;">Password </label> 
                    <input type="password" name="password1" id="password1" placeholder="" value="" required="">
                    <label style="font-family: 'Poppins', sans-serif;">Confirm Password </label> 
                    <input type="password" name="password2" id="password2" placeholder="" value="" required="">
                    <input type="submit" name="register" value="Create Account"><a href="login.html" ></a>

                  </form>
              </div>
            <div class="clearfix"></div>								
          </div>					
      </form>
    </div>
  </div>
</div>

<div id="dropDownSelect1"></div>
</body>
</html>